body {
  background: url(images/whitewall.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 175px;
  margin: 0;
  padding: 15px;
  background-color: rgb(55, 55, 244);
}

h1 {
  color: white;
  font-size: 50px;
  width: 400px;
  position: relative;
  left: 20vw;
  top: 10px;
  padding: 20px;
  border: solid 5px white;
  border-radius: 10px;
}

#pokemart {
  height: 50px;
  width: 50px;
}

header nav {
  position: fixed;
  top: 0;
  right: 30px;
  padding: 10px;
  display: inline;
  height: 1.5em;
  width: 450px;
  background-color: rgba(48, 48, 48, 0.9);
  border-radius: 0 0 5px 5px;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: inline;
}

nav ul li {
  display: inline;
  margin: .5em;
  text-align: center;
  vertical-align: top;
}

.socialicon {
  height: 20px;
  width: 20px;
}

nav ul li.cart a {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 250, 250, 0.2);
  padding: 3px;
  border: 2px solid rgba(232, 229, 229, 1);
  border-radius: 3px;
}

nav ul li.cart a:hover {
  background-color: rgba(252,251,243,1);
}



section#sidebar {
  position: relative;
  background-color: rgba(43, 43, 45, 0.2);
  width: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  float: right;
  margin: 45px 40px 0 5px;
  right:5vw;
  box-shadow: 5px 5px 5px #777;
}

h2 {
  color: rgb(55, 55, 244);
}

section p {
  font-family: sans-serif;
  font-weight: lighter;
}

a#learnmore {
  text-decoration: none;
  font-weight: bold;
}

section#sidebar a:hover {
  color: rgb(161, 175, 245);
}

section#main {
  position: relative;
  background-color: rgba(43, 43, 45, 0.2);
  display: inline-block;
  margin: 20px;
  width: 900px;
  padding: 20px;
  border-radius: 30px;
  left: 5vw;
  box-shadow: 5px 5px 5px #777;
}

section#main div.panel {
  height: 380px;
  width: 380px;
  background-color: rgba(253, 253, 255, 0.9);
  float: left;
  position: relative;
  text-align: center;
  margin: 10px 5px 10px 5px;
  padding: 30px 20px 20px 20px;
  border: solid 1px gray;
  border-radius: 10px;
}

section#main div.panel h5 {
  font-size: large;
}

section#main div.panel button {
  background-color: rgba(55, 55, 244, .5);
  padding: 3px 10px;
  border: solid 2px rgba(55, 55, 244);
  border-radius: 5px;
}

section#main div.panel button a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 3em;
  height: 5em;
  width: 100vw;
  background-color: rgba(48, 48, 48, 0.927);
  text-align: center;
}

footer ul {
  display: inline-block;
  position: relative;
  top: 1em;
}

footer ul li {
  display: inline;
  color: white;
}

footer ul li::before {
  content: "| ";
  padding-right: 0.7em;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer span {
  position: relative;
  top: 1em;
  color: white;
}